/*  Body of GUI*/
.root{
    -fx-background-color: white;
    -fx-font-size: 16pt;
    -fx-font-fill: black;
    -fx-padding: 0;

}

/* This is the subtle gold color for all tabs, a header can be considered one big tab */
.tabPane{
    -fx-tab-min-width:400px;
}

.tab{
    -fx-background-color: #c5ae81;
    -fx-padding: 10px;
    -fx-background-radius: 5;
    -fx-alignment: CENTER;
    -fx-focus-color: none;
}

.tab:selected{
   -fx-background-color: #B79A62;
}

.bold{
    -fx-font-weight: bold
}

/* Main header */
.h1{
     -fx-background-color: #B79A62;
     -fx-text-fill: white;
}
.vGreet {
    -fx-padding: 0;
}

/*  Grey Button CSS*/
.buttonGrey{
    -fx-background-color: #BEBFC3;
    -fx-background-radius: 6;
    -fx-position: relative;
}

.buttonGrey:pressed{
    -fx-background-color: #91918f;
}

.buttonGrey:hover{
    -fx-text-fill: white
}

/*  Gold Button CSS*/
.buttonGold{
    -fx-background-color: #F2C313;
    -fx-background-radius: 6;
}

.buttonGold:hover{
    -fx-text-fill: white
}

.buttonGold:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

/* Layouts */

.pane{
    -fx-border-color: #B79A62;
    -fx-border-width: 3;
    -fx-padding: 10px;
}

.borderPane{
    -fx-padding: 40px;
}

.borderPaneGreeting{
    -fx-border-color: #B79A62;
    -fx-border-width: 3;
    -fx-padding: 20px;
}

.hbox{
    -fx-padding: 40px;
}

.hboxShaded{
    -fx-background-color: #BEBFC3;
        -fx-background-radius: 6;
        -fx-position: relative;
        -fx-padding: 10px;
}

.vbox{
    -fx-padding: 60px;
}

.goldText{
    -fx-text-fill: #BEBFC3;
}

